Source: prometheus-rabbitmq-exporter
Section: net
Priority: extra
Maintainer: Yury Zavarin <yzavarin@ebi.ac.uk>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-golang (>= 0.17~),
 golang-any,
 golang-github-kylelemons-godebug-dev,
 golang-github-prometheus-client-golang-dev,
 golang-github-sirupsen-logrus-dev,
 golang-github-streadway-amqp-dev,
Standards-Version: 3.9.8
Vcs-Git: https://github.com/SureChEMBL/rabbitmq-exporter-debian.git
Vcs-Browser: https://github.com/SureChEMBL/rabbitmq-exporter-debian
Homepage: https://github.com/kbudde/rabbitmq_exporter
Testsuite: autopkgtest

Package: prometheus-rabbitmq-exporter
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 daemon,
Built-Using: ${misc:Built-Using}
Description: Prometheus exporter for RabbitMQ metrics
 Prometheus exporter for RabbitMQ metrics, written in Go.
